@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,400&display=swap');

body{
    background-color: #E1E5EE;
    font-family: 'Montsterrat', sans-serif;
}



#root {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 200px;
    padding: 4rem 0 4rem 0;

    .category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        
        li {
            list-style: none;
            background-color: #2A324B;
            font-weight: 600;
            cursor: pointer;
            a{
                display: flex;
                color: #fff;
                h2{
                    margin: 1.25rem 3rem;
                }
            }
        }
        :hover, .active{
            background-color: white;
            color: black;
        }
        .active {
            background-color: white;
            color: black;
        }
    }

    .input {
        background-color: #fff;
        padding: 4rem;
        color: #2A324B;

        h2 {
            margin: 0;
            color: #2A324B;
        }
    }

}